.flex {
  display: flex;
}

p {
  font-weight: bold;
}

input {
  height: 50%;
  margin: auto 5px;
}

select {
  width: auto;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}
